body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* lower layer */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #105eacff;
    color: #105eacff;
    padding-top: 1rem;
    z-index: 2; /* higher than navbar */
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 15px;
    font-family: Arial, sans-serif;
    border-right: 1px solid #f8f9fa;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.sidebar a {
    display: block;
    padding: 8px 12px;
    margin: 4px 0;
    color: #333;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.sidebar a:hover {
    background-color: #e9ecef;
}

.sidebar a.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.nav-header {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 8px;
    padding-left: 5px;
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    border-left: 4px solid #007bff;
}




.content {
    margin-left: 250px;
    padding: 90px 20px 20px 20px;
}



